$primary-bg-color: #442d87;
$padding-small: 1%;
$padding-left-right: 3%;
$white-color: white;
$search-border-color: #eeeeee;
$search-color: #b5b5b5;
$primary-color: #00bac2;
$border-radius-small: 8px;
$performance-bg-color: #f8f9ff;
$performance-desc-color: #2d2d2d;
$black-color: #000000;
$font-poppins: "Poppins", sans-serif;
$margin-top-small: 1rem;
$gap-large: 3rem;
$gap-medium: 30px;
$font-size-large: 32px;
$font-size-medium: 24px;
$font-size-small: 16px;
$font-size-xlarge: 36px;