.header {
  height: 100%;
  background-color: #442d87;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  padding-right: 3%;
  display: flex;
  justify-content: space-between;
}

.navigation-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}

.menu-items-div {
  width: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sub-menu-item {
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
}

.sub-menu-item.selected {
  color: #00bac2;
  font-weight: 700;
}

.search-and-buttons-div {
  width: 55%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 2.5rem;
}

.header-search-div {
  width: 100%;
  height: 36px;
  border-radius: 5px;
  background-color: #ffffff;
  border: 0.6px solid #eeeeee;
  color: #b5b5b5;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 10px;
  padding-left: 10px;
  padding-right: 5px;
  outline: none;
}

.header-search-div::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 10px;
  color: #b5b5b5;
}

.header-search-icon {
  position: absolute;
  height: 15px;
  width: 15px;
  top: 13px;
  right: -8px;
}

.buttons-div {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 8px;
}

.primary-button {
  width: 100%;
  height: 40px;
  color: white;
  background-color: #00bac2;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  border: none;
  outline: none;
  cursor: pointer;
}

.primary-outline-button {
  width: 100%;
  height: 40px;
  color: #00bac2;
  background-color: transparent;
  border: 1px solid #00bac2;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  outline: none;
  cursor: pointer;
}

.intro {
  background-color: #f3efff;
  /* height: 874px; */
  padding-top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.inside-intro {
  width: 70%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.intro-find-text {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #442d87;
  line-height: 30px;
}

.intro-welcome-text {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 48px;
  color: #442d87;
  line-height: 72px;
}

.intro-search-div {
  width: 100%;
  height: 80px;
  border-radius: 12px;
  background-color: #ffffff;
  border: 1.56px solid #eeeeee;
  color: #b5b5b5;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  padding-left: 2rem;
  padding-right: 1rem;
  outline: none;
}

.intro-search-div::placeholder {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #b5b5b5;
}

.intro-search-icon {
  position: absolute;
  height: 35px;
  width: 35px;
  top: 25px;
  right: -8px;
}

.popular-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: #161616;
}

.popular-list {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1rem;
}

.popular-tag {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  background-color: #e0d6ff;
  color: #442d87;
  padding-left: 1%;
  padding-right: 1%;
  border-radius: 13px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: nowrap;
}

.needs-primary-button {
  margin-top: 1rem;
  width: 100%;
  height: 56px;
  color: white;
  background-color: #00bac2;
  border-radius: 8px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
}

.media-partners {
  background-color: #442d87;
  display: flex;
  flex-direction: column;
  padding: 20px 50px 20px 105px;
}

.txt-media-partners {
  color: white;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  font-weight: 700;
}

.media-list {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.services {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 80px 105px 40px 105px;
  gap: 30px;
}

.txt-popular-services {
  color: #161c2d;
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: -1.2px;
}

.service-list {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}

.view-all {
  font-family: "Poppins", sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  text-align: left;
  color: #00bac2;
}

.performance {
  background-color: #f8f9ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 100px 55px 100px 55px;
}

.performance-heading {
  font-family: "Poppins", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 46.8px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #000000;
  margin-bottom: 1rem;
}

.performance-desc {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: center;
  color: #2d2d2d;
}

.stat-div {
  border-left: 4px solid #442d87; /* Line thickness and color */
  height: 70px; /* Line height */
  padding-left: 1rem;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.stat-count {
  font-family: "Poppins", sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 49.4px;
  letter-spacing: -0.02em;
  text-align: left;
}

.stat-txt {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  text-align: left;
}

.stats-container {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 9rem;
  width: 100%;
  margin-top: 4rem;
}

.feedback {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 105px 40px 105px;
  gap: 30px;
}

.feedback-first-div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
}

.feedback-heading-txt {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 62.4px;
  letter-spacing: -0.02em;
  text-align: left;
  margin-bottom: 8rem;
}

.feedback-content-div {
  width: 600px px;
  height: 158px px;
  padding: 24px;
  gap: 16px;
  border-radius: 4px;
  background-color: #f6f6f6;
}

.feedback-content {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  text-align: left;
}

.quiz {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5rem;
}
.quiz-first-div {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.quiz-heading {
  font-family: "Poppins", sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 65px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #2d2d2d;
}
.quiz-content {
  font-family: "Poppins", sans-serif;
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #2d2d2d;
}
.review-div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 184px;
  padding: 1rem;
  border-radius: 8px;
  background-color: #f8f8f8;
  gap: 2rem;
}
.reviewer {
  font-family: Inter;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
  color: #2d2d2d;
}
.review {
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #2d2d2d;
}

.psychologist {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f8f9ff;
  padding: 80px 105px 40px 105px;
}

.psychologist-content {
  font-family: "Poppins", sans-serif;
  font-size: 21px;
  font-weight: 400;
  line-height: 31.5px;
  text-align: left;
  color: #2d2d2d;
}

.how-it-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../images/howItWorksBg.svg") !important;
  padding: 80px 105px 40px 105px;
  gap: 4rem;
}

.how-it-works-heading {
  font-family: "Poppins", sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: -1.2000000476837158px;
  text-align: center;
  color: white;
}

.get-started {
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 80px 105px 40px 105px;
}

.get-started-card {
  width: 80%;
  height: 100%;
  background-color: #442d87;
  border-radius: 24px;
  padding: 40px 80px 40px 80px;
  position: relative;
}

.get-started-heading {
  font-family: "Poppins", sans-serif;
  font-size: 64px;
  font-weight: 700;
  line-height: 76px;
  letter-spacing: -1.2000000476837158px;
  text-align: left;
  color: white;
}
.get-started-content {
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: -0.20000000298023224px;
  text-align: left;
  color: rgba(255, 255, 255, 0.6);;
}

.get-started-img {
  position: absolute;
  bottom: 0px;
  right: -55px;
}