<section class="footer">
  <div class="footer-first-box">
    <div
      style="
        width: 60%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 0.5rem;
      "
    >
      <span class="footer-first-box-heading">Subscribe</span>
      <span class="footer-first-box-content"
        >To get latest information from us, and updated news.</span
      >
      <div
        style="
          width: 100%;
          display: flex;
          justify-content: space-between;
          align-items: end;
          gap: 1rem;
        "
      >
        <input
          name="email"
          id="email"
          type="text"
          class="footer-email-input"
          placeholder="Enter your email"
        />
        <button class="footer-primary-button">Subscribe</button>
      </div>
    </div>
  </div>
  <div class="footer-second-div">
    <div class="footer-third-div">
      <div class="footer-imamconnect">
        <span class="footer-imamconnect-heading">IMAMCONNECT</span>
        <div class="footer-imamconnect">
          <span class="footer-imamconnect-content">About</span>
          <span class="footer-imamconnect-content">Team</span>
          <span class="footer-imamconnect-content">Privacy Policy</span>
          <span class="footer-imamconnect-content">Terms</span>
        </div>
      </div>
      <div class="footer-imamconnect">
        <span class="footer-imamconnect-heading">NEWS</span>
        <div class="footer-imamconnect">
          <span class="footer-imamconnect-content">Guides</span>
          <span class="footer-imamconnect-content">In the media</span>
          <span class="footer-imamconnect-content">Specials</span>
        </div>
      </div>
      <div class="footer-imamconnect">
        <span class="footer-imamconnect-heading">Support</span>
        <div class="footer-imamconnect">
          <span class="footer-imamconnect-content">Code of Conduc</span>
          <span class="footer-imamconnect-content">FAQ</span>
          <span class="footer-imamconnect-content">Contact us</span>
          <span class="footer-imamconnect-content">Payment</span>
        </div>
      </div>
    </div>
    <div class="footer-address">
      <span class="footer-imamconnect-heading">MAIN OFFICE ADDRESS</span>
      <div class="footer-address">
        <span class="footer-address-content">Imam Connect LTD (12658054)</span>
        <span class="footer-address-content"
          >85 Great Portland Street First<br />Floor, London, United Kingdom,
          W1W 7LT</span
        >
      </div>
    </div>
  </div>
  <div class="copyright">
    <span class="footer-copyright-txt">© 2023 — Copyright</span>
    <img src="../assets/images/scrollToTop.svg" />
  </div>
  <div class="social-media">
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
      "
    >
      <span class="footer-socialmedia-txt">Instagram</span>
      <img src="../assets/images/insta.svg" />
    </div>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
      "
    >
      <span class="footer-socialmedia-txt">Whatsapp</span>
      <img src="../assets/images/whatsapp.svg" />
    </div>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
      "
    >
      <span class="footer-socialmedia-txt">X</span>
      <img src="../assets/images/x.svg" />
    </div>
    <div
      style="
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
      "
    >
      <span class="footer-socialmedia-txt">Facebook</span>
      <img src="../assets/images/facebook.svg" />
    </div>
  </div>
  <div class="social-media">
    <span class="footer-rights-txt">IMAM CONNECT LTD ALL RIGHT RESERVED</span>
  </div>
</section>
