<section class="get-started">
  <div class="get-started-card">
    <div
      style="
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        gap: 1rem;
      "
    >
      <span class="get-started-heading"
        >Lifetime Muslim Services on One Platform.</span
      >
      <span class="get-started-content"
        >We offer a lot of services in just 1 click and simple.</span
      >
      <div style="width: 50%; text-align: center">
        <button class="needs-primary-button">Let’s get started</button>
      </div>
    </div>
    <img src="assets/images/happy-girl.svg" class="get-started-img" />
  </div>
</section>
