<div class="header">
  <img src="assets/images/imamLogo.svg" />
  <div class="navigation-menu">
    <div class="menu-items-div">
      <span
        ><a href="../index.html" id="home" class="sub-menu-item selected"
          >Home</a
        ></span
      >
      <span
        ><a href="../aboutus.html" id="about-us" class="sub-menu-item"
          >About Us</a
        ></span
      >
      <div
        style="
          display: flex;
          gap: 5px;
          align-items: center;
          justify-content: center;
        "
      >
        <span
          ><a href="../services.html" id="services" class="sub-menu-item"
            >Services</a
          ></span
        >
        <img src="assets/images/downArrow.svg" style="cursor: pointer" />
      </div>
      <span
        ><a href="../testimonials.html" id="testimonials" class="sub-menu-item"
          >Testimonials</a
        ></span
      >
    </div>
    <div style="width: 5%"></div>
    <div class="search-and-buttons-div">
      @@include("headerSearch.html")
      <div class="buttons-div">
        <button type="button" class="primary-button">Register</button>
        <button type="button" class="primary-outline-button">Sign in</button>
      </div>
    </div>
  </div>
</div>
